DISPLAY=:0

# Switch off display at 10pm
0 22 * * * /opt/vc/bin/tvservice -o

# Switch on display at 7:30 am
# 30 7 * * * /opt/vc/bin/tvservice -p; /usr/bin/fbset -depth 8; /usr/bin/fbset -depth 16

# Currently only rebooting helps to switch monitor back on
30 7 * * * /opt/vc/bin/tvservice -p; /usr/bin/sudo /usr/bin/reboot

# Restart browser every hour
0 * * * * killall qutebrowser
