[Unit]
Description=Cage Wayland compositor on tty7
After=systemd-user-sessions.service plymouth-quit-wait.service
Before=graphical.target
ConditionPathExists=/dev/tty7
Wants=dbus.socket systemd-logind.service time-sync.target
After=dbus.socket systemd-logind.service time-sync.target
Conflicts=getty@tty7.service
After=getty@tty7.service

[Service]
Type=simple
ExecStart=/usr/bin/cage -d -- /usr/bin/luakit -U "https://www.google.com"
Restart=always
User=dashboard
UtmpIdentifier=tty7
UtmpMode=user
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail

PAMName=dashboard

[Install]
Alias=display-manager.service
