[Unit]
Description=Cage Wayland compositor on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
Before=graphical.target
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service time-sync.target
After=dbus.socket systemd-logind.service time-sync.target
Conflicts=getty@%i.service
After=getty@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/cage /usr/bin/luakit "https://www.google.com"
Restart=always
User=dashboard
UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail

PAMName=dashboard

[Install]
WantedBy=graphical.target
Alias=display-manager.service
DefaultInstance=tty7
